<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
    <add key="server" value="http://192.168.50.72:21021" />
    <add key="three" value="" />  
  </appSettings>
  <superSocket>
    <servers>
      <server name="CsServerA" serverTypeName="MyAppServer" ip="Any" port="5000">
      </server>
      <server name="WebServerA" serverTypeName="MyWebSocketServer" ip="Any" port="50000 ">
      </server>
    </servers>
    <serverTypes>
      <add name="MyAppServer" type="SuperServer.MyAppServer, SuperServer" />
      <add name="MyWebSocketServer" type="SuperServer.MyWebSocketServer,SuperServer" />
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>